* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .choosecharacter {
    margin-top: 80px;
}

.choosecharacter {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 800px;
    height: 400px;

}

.img {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    background-size: cover;
    background-position: center;
    filter: brightness(0.7) saturate(0.2) contrast(1) blur(2px);
    border-radius: 20px;
    transition: flex 0.3s, filter 0.3s;
    overflow: hidden;
    box-shadow: right(0, 0, 0, 0, 0.25) 0px 25px 50px -32px;
    border: 1px solid #8b95a9;
}

.img:hover {
    flex: 1.5;
    filter: none;
}

.img span {
    display: block;
    width: 70%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -3px 10px rgba(255, 255, 255, 0.3);
}

.img:hover span {
    bottom: 20px;
}

.img1 {
    background-image: url(luisProfileSample.jpg);
}

.img2 {
    background-image: url(eljhayProfileSample.jpg);
}

.img3 {
    background-image: url(judielProfileSample.jpg);
}

.img4 {
    background-image: url(jethroProfileSample.jpg);
}

.centered {
    color: aliceblue;
    font-size: 3.5rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    background-image: url(sampleBg.png);
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    filter: brightness(0.7) saturate(0.2) contrast(1) blur(0.5px);
    transition: flex 0.3s, filter 0.3s;
    overflow: hidden;
    box-shadow: right(0, 0, 0, 0, 0.25) 0px 25px 50px -32px;
    border: 1px solid #8b95a9;
}

.banner:hover {
    flex: 1.5;
    filter: none;
}

@media (max-width: 600px) {

    .centered {
        color: aliceblue;
        font-size: 2.rem;
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .choosecharacter {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 16px;
        width: 80px;
        height: 2000px;

    }

    .banner {
        background-image: url(sampleBg.png);
        height: 70vh;
        background-size: cover;
        background-position: center;
        position: relative;
        background-attachment:local;
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
        filter: none;
        overflow: hidden;
        box-shadow: right(0, 0, 0, 0, 0.25) 0px 25px 50px -32px;
        border: 1px solid #8b95a9;
    }

    .img {
        width: 100%;
        height: 400px;
        filter: none;
        border-radius: 0px;
        transition: none;
        box-shadow: none;

    }

    .banner {
        height: 50vh;
    }

    .img span {
        display: none;
    }

    .img:hover span {
        bottom: 0px;
    }

    .img span {
        display: none;
    }

    .position {
        text-align: center;
        display: block;
    }

}

@media (max-width: 1023px) {
    .centered {
        color: aliceblue;
        font-size: 2.rem;
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .choosecharacter {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 16px;
        width: 80px;
        height: 2000px;

    }

    .banner {
        background-image: url(sampleBg.png);
        height: 70vh;
        background-size: cover;
        background-position: center;
        position: relative;
        background-attachment:local;
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
        filter: none;
        overflow: hidden;
        box-shadow: right(0, 0, 0, 0, 0.25) 0px 25px 50px -32px;
        border: 1px solid #8b95a9;
    }

    .img {
        width: 100%;
        height: 400px;
        filter: none;
        border-radius: 0px;
        transition: none;
        box-shadow: none;

    }

    .banner {
        height: 50vh;
    }

    .img span {
        display: none;
    }

    .img:hover span {
        bottom: 0px;
    }

    .img span {
        display: none;
    }

    .position {
        text-align: center;
        display: block;
    }
    
}

@media (max-width: 2560px) {
    .position {
        display: none;
    }
}